
/**
 *  @file
 *  Overlay for Dreambroker thumbnails in the media library browser.
 *
 */
#media-browser .styles-container-media_dreambroker {
  /* Relative wrapper for the overlay. */
  position: relative;
}
#media-browser .styles-container-media_dreambroker span {
  /* Absolute positioning in the relative wrapper creates the overlay. */
  position: absolute;

  /* Size of the overlay */
  width: 69px;
  height: 22px;

  /* Position of the overlay */
  left: 33px;
  top: 80px;
}
#media-browser .styles-container-media_dreambroker span:hover {
  /* The  */
  background-position: 0px -22px;
}
#media-browser .styles-container-media_dreambroker img {
}
